<div class="vitrine">
    <p>{{titulo}}</p> 
    <p>{{texto}}</p> 
</div>

<h1>Botões do Boodstrap </h1>
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-link">Link</button>

<h1>Botões do Material </h1>
<div class="example-button-row">
    <button mat-raised-button>Basic</button>
    <button mat-raised-button color="primary">Primary</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>
    <button mat-raised-button disabled>Disabled</button>
    <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ducimus non quas culpa nobis incidunt eos consequuntur eaque voluptas officiis? Quasi, dignissimos placeat fugit veniam id officiis eligendi optio eaque!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ducimus non quas culpa nobis incidunt eos consequuntur eaque voluptas officiis? Quasi, dignissimos placeat fugit veniam id officiis eligendi optio eaque!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos ducimus non quas culpa nobis incidunt eos consequuntur eaque voluptas officiis? Quasi, dignissimos placeat fugit veniam id officiis eligendi optio eaque!</p>
  </div>
