<div class="formulario">
    <!-- <h2>Two way data binding</h2>
    <form>
        <input type="text" [(ngModel)]="name"
        name="name"
        placeholder="Digite o seu nome">
        <input type="submit" value="Enviar">
    </form>

    <p>o nome é: {{name}}</p> -->


    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">

        <label for="first-name">First Name: </label>
        <input id="first-name" type="text" formControlName="firstName">
      
        <label for="last-name">Last Name: </label>
        <input id="last-name" type="text" formControlName="lastName">
        
        <button type="submit" [disabled]="!profileForm.valid">Submit</button>
      </form>

      <button></button>
</div>
