<section id="section-login">
    <h1>Login</h1>
    <div class="d-flex justify-content-center">
        <form method="post" action="" id="login" #userForm="ngForm" (ngSubmit)="login()">
            <div>
                <label for="usuario">Usuario: </label>
                <input id="usuario" name="usuario" required="required" type="email"
                    placeholder="Insira o seu email" class="form-control" [(ngModel)]="userModel.email" />
            </div>
            <div>
                <label for="senha">Senha: </label>
                <input id="senha" name="senha" required="required" type="password"
                    placeholder="Insira a sua senha" class="form-control" [(ngModel)]="userModel.password" />
            </div>
            <button>Entrar</button>
        </form>
    </div>
</section>
