<p>list-render works!</p>
<ul>
    <li *ngFor="let animal of animals">
        Nome: {{[animal.name]}} <br/>
        Tipo: {{[animal.type]}} <br/>
        <button (click)="showAge(animal)" > Show age</button>
        <button (click)="removeAnimal(animal)">Excluir</button>
    </li>
</ul>

<h3>{{ animalDetails }}</h3>

<h1>Pessoas</h1>

<ul>
    <li *ngFor="let pessoa of pessoas">
        Nome: <a routerLink="/list/{{ pessoa.id }}">{{[pessoa.name]}} </a><br/>
        Tipo: {{[pessoa.type]}} <br/>
        Idade: {{[pessoa.age]}} <br/> 
        <button (click)="removePessoa(pessoa)">Excluir</button>
    </li>
</ul>
